<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <customErrors allowNestedErrors="true" defaultRedirect="http://beanchat.tk" mode="On" redirectMode="ResponseRewrite">
        </customErrors>
    </system.web>
    <system.webServer>
        <httpRedirect enabled="false" destination="https://bean.bike" />
    </system.webServer>
</configuration>
